

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
	background-color: #f4f4f4;
	color: ##555;
	font-family: 'Roboto Condensed', Arial, Helvetica, san-serif;
	font-size: 16px;
	line-height: 1.6em;
	height: auto;
	margin: 0;
}

div.navtop{
	position: fixed;
	width: 15px;
	height: 20px;
	background-color: red;
	z-index: 100;
	font-size: 18px;
	padding: 10px;
	right: 0px;
	opacity: 0.5;
	overflow: hidden;
	text-align: center;
}

.move-right{
	cursor: pointer;
}

.text-deco{
	text-decoration: none;
	color: #fff;
}

.top-nav .icon {
  display: none;
}

.container{
	max-width: 95%;
	margin: auto;
/*	overflow: hidden;   */
	position: block;
}

.footer-container{
	width: 90%;
	margin: auto;
/*	overflow: hidden; */
	position: block;
}

.main-footer a{
    color: #fff;
}

.main-footer a:hover{
    color: yellow;
}

header#main-header h1{
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

#main-header{
	float: left;
	width: 30%;
	padding: 0 15px;
	box-sizing: border-box;
}

.navbar{
	float: right;
	width: 70%;
/*	background: #333; */
	color: #fff;
	padding: 0px;
	box-sizing: border-box;
}

.navbar ul{
    padding: 0;
    list-style: none;
}

.footer-4 ul{
    padding: 0;
    list-style: none;
}

.footer-4 a{
	color: #5d22aa;
	text-decoration: none;
	font-size: 16px;
}

.navbar a{
	color: #333;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;
}

li{
	display: block;
}

.navbar li{
	display: inline;
}

.clr{
	clear:both;
}

.showcase{
	background-image: url("./images/g7.jpg");
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:350px;/* 50vh; */
    position: relative;
    flex: 0 1 60vw;
    margin: 0;
/*	margin-bottom: 30px;
	text-align: center;   */
}

.stat-p{
	margin-top: 60px;
   	margin-right: 10px;
   	padding-right: 10px;
    background-repeat: no-repeat;
   	background-position: center padding-right;
	box-sizing: border-box;

}

.stat-p img.mypics{
	display: block;
	width: 100%;
	margin: auto;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	box-shadow: 30px 0px 40px rgba(0,0,0,0.1), -30px 0px 40px rgba(0,0,0,0.1);
}

.showcase h1{
	color: #fff;
	font-size: 2.4rem;
	line-height: 1.6em;
	padding: 25px 60px 60px 60px;
	font-weight: 400;
	font-family: arial black;
	margin: 0px;
}

.showcase p.quote {
	font-size: 1.5rem;
	margin: 0px;
	font-weight: bold;
	color: #333;
	text-align: center;
}

.main{
	float: left;
	width: 70%;
	padding: 0px;
	box-sizing: border-box;
}

.sidebar{
	float: right;
	width: 30%;
	background: #333;
	color: #fff;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.main-buttom{
	float: right;
	width: 70%;
	box-sizing: border-box;
}

.sidebar-bottom{
	float: left;
	width: 30%;
	color: #fff;
	padding-left: 50px;
	box-sizing: border-box;
}

.footer-4{
	float: left;
	display: block;
	width: 33.3%;
	color: #fff;
	padding-left: 20px;
	box-sizing: border-box;
}

form.contact label.input-i{
	display: block;
	width: 230px;
	float: right;
}

form input, form.contact select, form select option{
    padding: 1em;
}

article.column{
	float: left;
	width: 33.3%;
	border: 0.3em solid #fff;
	box-sizing: border-box;
}

img.menu-img{
    display: flex;
   	width: 100%;
   	height: 30vh;
   	flex: 0 1 60vw;
   	margin: 0;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}

.main-footer{
	background: #333;
	color: #fff;
	padding: 20px;
	margin-top:40px;
}


@media screen and (max-width: 850px){
  .showcase p.quote {
    padding-top: 5px;
  }

  .showcase h1 {
	font-size: 2.0rem;
    padding-top: 15px;
  }

  /*Up down animation nav button*/
	div.navtop{
		margin: 0 0 0 20px;
		right: 0px;
		width: 15px;
		height: 20px;
	}

	.text-deco{
		font-size: 0.95rem;
	}


	.move-right{
		padding: 0 0 0 5px;
		cursor: pointer;
	}

}

@media screen and (max-width: 600px){

  .showcase p.quote {
    padding-top: 10px;
  }

  	.top-nav a:not(:first-child) {
    display: none;

  }

  .top-nav a.icon {
    float: right;
    display: block;
  }


  .top-nav a {
    padding-left: 45px;
   }

	.main{
		width:100%;
		float:none;
	}

	.showcase h1{
		height: 100vh;
		font-size: 1.6rem;
		padding: 35px 50px 50px 50px;
	}

    .main-buttom{
		width:100%;
		float:none;
	}

     .sidebar-bottom{
		width:100%;
		float:none;

	}

	.sidebar{
		width:100%;
		float:none;
	}

	.stat-p img.mypics{
	   	background-position: center;
	}

	article.column{
		width: 100%;
		clear: left;
		margin-bottom: 20px;
		border: 0em;

	}

	.footer-4{
		width: 100%;
		float: none;
	}

	img.menu-img{
	   	height: 40vh;
    }

	article.column div.scroll{
	    height: 20vh;
	}

	.re-caption{
		padding: 0.8rem 0.8rem 0.1rem 0.8rem;
		text-align: left;
	}

	article.column div.re-scroll{
	    height: 10vh;
	}
}


@media screen and (max-width: 450px){
	.showcase h1 {
	  font-size: 1.4rem;
    padding-top: 15px;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 600px) {
  .top-nav.responsive {position: relative; }

  .top-nav.responsive ul{
  	position: relative;
  	left: 0;
  	top: 0;
  	display: block;
  	margin: 0;
  }

  .top-nav.responsive a.icon {
	position: absolute;
	left: 0;
	top: 0;

   }

  .top-nav.responsive a {
    display: block;
    text-align: center;
    padding-left: 0px;
    z-index: 10;
    height: 40px;
    background-color: gold;
  }


}

.btn{
	padding: 0.5rem 2rem;
	border: 1px #ccc solid;
	display: inline-block;
	margin: 2rem 0 0;
	border-radius: 50px;
	text-decoration: none;
	color: #333;
	transition: background 500ms ease;
}

.btn:hover {
	background: #fefefe;
}

.header h2 {
	border-left: dotted 1px #fff;
	border-right: dotted 1px #fff;
	display: inline-block;
	padding-right: 1rem;
	padding-left: 1rem;
}

.footer-copy{
	text-align: center;
	padding: 2rem 1rem;
	margin: auto;
	color: #fff;
}
.caption{
	padding: 0.8em;
	text-align: left;
}

article.column div.scroll {
    width: 100%;
    height: 35vh;
    overflow: scroll;
}

article.column div.re-scroll{
    height: 30vh;
}
